.title {
    margin: 20px 0;
    font-size: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #e66465;
}
.container {
}
.listMsg {
    padding: 0 250px;
}
.listMsg > :nth-child(n) {
    margin-bottom: 15px;
}